<div class="information-cards-wrapper">

  <div class="cards" style="background: rgb(30,87,116);
  background: linear-gradient(90deg, rgb(56, 126, 28) 0%, rgb(52, 175, 14) 100%);">
  <div class='map'>
    <div class='pulse'></div>
  </div>
    <div class="info">
      <span>{{currentVisitor}}</span>
      <p>Current Visitors</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(30,87,116);
  background: linear-gradient(90deg, rgb(218, 156, 23) 0%, rgb(224, 178, 25) 100%);">
  <div class='map'>
    <div class='pulse'></div>
  </div>
    <div class="info">
      <span>{{totalVisitors}}</span>
      <p>Today's Total Visitors</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(133,194,50);
  background: linear-gradient(-90deg, rgb(6, 90, 168) 0%, rgb(6, 46, 121) 100%);">
  <div class='map'>
    <div class='pulse'></div>
  </div>
    <div class="info">
      <span>{{totalCheckouts}}</span>
      <p>Today's Total Transactions</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(235,195,130);
  background: linear-gradient(90deg, rgb(165, 11, 165) 0%, rgb(204, 26, 227) 100%);">
  <div class='map'>
    <div class='pulse'></div>
  </div>
    <div class="info">
      <span>${{totalAmount}}</span>
      <p>Today's Total Sales</p>
    </div>
  </div>
</div>