<p id="chart-label">Abandonment Analysis</p>
<mat-form-field>
  <mat-select placeholder="Choose Period" [(ngModel)]="selectedValue" name="item" (selectionChange)=changeGran($event)>
    <mat-option *ngFor="let i of period" [value]="i.value">{{i.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="chart-container">
  <canvas *ngIf="chartData" baseChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels" [options]="chartOptions"
    [colors]="colorOptions" style="margin-top: 3em;">
  </canvas>
</div>
