  .chart-container{
      width: 40vw;
}

#chart-label{
    font-size: 1vw;
    font-weight: 700;
    background: rgb(255, 255, 255);
    border: 3px solid rgba(63, 65, 58, 0.589);
    // background: linear-gradient(90deg, rgba(112,140,50,1) 0%, rgba(174,205,83,1) 100%);
    padding: 0.6vw;
    color: rgb(143, 143, 143);
    border-radius: 5px;
    box-shadow: 0px 10px 50px rgba(112, 112, 112, 0.116);
    width: fit-content;
}
