.sidenav-wrapper{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100%;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 5px 0px 25px rgba(66, 66, 66, 0.185);

    button{
        width: 50px;
        height: 50px;
        margin-block-end: 40px;
        text-decoration: none;
        border: none;
        background: none;
        text-align: center;
        transition: transform .2s;

        mat-icon{
            line-height: 40px;
        }
    }

    button:hover{
        transform: scale(1.9);
        color: rgb(38, 186, 255);
        text-shadow: 0px 0px 15px rgba(8, 224, 240, 0.61);
    }
    button:focus {outline:0;}
    button:first-of-type{
        margin-block-start: 25px;
    }
}